* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background-color: #142142;
  grid-template: 1fr repeat(3, 0.25fr) 1fr 0.15fr / 0.3fr 1fr 1fr;
  min-height: 100vh;
  font-family: "Play", sans-serif;
}
.shapes {
  grid-area: 1/2 / 6/4;
}

/***********  NAVIGATION MENU - SIDEBAR  *********/

.roadmap {
  grid-area: 2/1 / 5/2;

  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
  width: 100%;

  font-size: 1.4em;
  font-weight: bolder;

  place-items: end;
  justify-items: center;

  color: #142142;
}
.roadmap__Link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: scale 0.4s, color 0.4s;
}
.roadmap__Link--about:hover {
  color: #6683a3;
  scale: 1.2;
}
.roadmap__Link--resume:hover {
  color: #782323;
  scale: 1.2;
}
.roadmap__Link--portfolio:hover {
  color: #97cc04;
  scale: 1.2;
}
.roadmap-background {
  grid-area: 1/1 / 7/2;
  background-color: #bac7d6;
}

/***********  ANIMATIONS  *********/

.welcome {
  grid-area: 2/2 / 4/4;
  place-self: center;
  color: #f1a403;
  text-align: center;
}
.welcome__div {
  position: relative;
}
.welcome__txt {
  font-size: 4em;
  font-weight: bolder;
  letter-spacing: 2px;
  position: absolute;
  opacity: 0%;
}
.welcome__txt--2em-font {
  font-size: 2em;
  font-style: italic;
  margin: 0.5em 0 0 0;
  opacity: 0%;
}
.welcome__txt--2em-font.front,
.welcome__txt--2em-font.dev {
  display: inline-block;
}

.triangle__img--sharpen {
  /* chrome blurrs images when downsizing  */
  image-rendering: -webkit-optimize-contrast;
}

.square__img--invert {
  filter: brightness(40%) sepia(100%);
}

/*********** NAVIGATION -- ABOUT ME *********/

.about-Me {
  grid-area: 1/2 / 7/4;
  place-self: center;
  padding: 2em;
  color: white;
  display: flex;
  flex-direction: column;
}
.about-Me > p {
  place-self: center;
}

/*********** NAVIGATION -- RESUME  *********/

.pdf_Resume {
  grid-area: 1/2 / 6/4;
  place-self: center;
}

/**************** NAVIGATION -- ABOUT ***************/

.about {
  grid-area: 1/2 /6/4;
  position: relative;
  place-self: center;
  width: 70%;
  height: 80%;
}
.about__wrapper {
  background-color: #6683a3ff;
  border-radius: 10em;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  place-content: start;
  padding: 1em 2em;
}
.about__wrapper--border {
  border: 1em solid darkgoldenrod;
}
.about__Headline {
  place-self: center;
  font-size: 2.5em;
  padding: 1em 0;
  margin: 0.5em;
}
.about--color {
  color: #142142;
}
.about__Paragraph {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0 2em;
  margin: 0.5em;
}
.about__figure {
  position: absolute;
  top: -8%;
  right: -20%;
}
.about__img {
  border-radius: 50%;
  width: 60%;
  border: 1em solid darkgoldenrod;
}

/*********** NAVIGATION -- PORTFOLIO  *********/

.portfolio {
  grid-area: 1/2 /6/4;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  place-items: center;
  justify-content: center;

  width: 70%;
  height: 70%;
  place-self: center;
}
.portfolio--style {
  background-color: #6683a3ff;
  border-radius: 10em;
}
.portfolio--border {
  border: 1em solid darkgoldenrod;
}
.portfolio__link {
  display: flex;
  place-content: center;
  padding: 2em 1em;
}
.portfolio__img {
  width: 85%;
  border: 0.5em solid darkgoldenrod;
  border-radius: 2em;
}
.portfolio__img:hover {
  filter: brightness(0.7);
}
/*********** FOOTER  *********/

.footer {
  grid-area: 6/2 / 7/4;
  background-color: #f1a403;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__Text,
.footer__Link {
  color: #142142;
  padding: 0 0 0 2em;
}
.footer__paragraph--padding-right {
  padding: 0 2em 0 0;
}
.footer__Link {
  font-weight: bolder;
  text-decoration: none;
}
.footer__Link:hover {
  text-decoration: overline underline;
  color: #f1a403;
}
.fab,
.fas {
  padding: 0.25em 0.3em;
  border-radius: 20%;
}
.fab:hover,
.fas:hover {
  background-color: #142142;
}

.skills {
  grid-area: 6/1/7/2;
  width: 40%;
  place-self: end;
  justify-self: end;
  justify-self: center;
  padding: 0 0 0.5em 0;
}

/*************** UTILITIES ****************/

.grid {
  display: grid;
}
.center {
  place-self: center;
  justify-self: start;
}
.main_Font {
  font-size: 1.563em;
}
.off {
  display: none;
}
.triangle,
.circle,
.square {
  width: 20%;
  place-self: center;
}
.on_Top {
  position: relative;
  z-index: 1;
}
.animate {
  transition: transform 0.3s ease-out 0.1s, opacity 0.1s 0.2s;
}

.logo {
  grid-area: 1/1/2/2;
  position: relative;
  place-self: center;
}
.background {
  grid-area: 1/2 / 6/4;
  width: 30%;
  place-self: start;
  transform: scale(-1);
}
.background--small {
  grid-area: 1/2 / 6/4;
  width: 28%;
  place-self: end;
}
.background--circle {
  grid-area: 1/2 / 6/4;
  place-self: center;
  height: 20%;
  z-index: -1;
}
.left_50 {
  left: 50%;
}

@media screen and (max-width: 650px) {
  .body {
    /* grid-template: 1fr repeat(3, 0.25fr) 1fr 0.15fr / 0.3fr 1fr 1fr; */
    grid-template: 0.2fr repeat(2, 1fr) 0.15fr / 1fr 1fr;
  }
  .background {
    grid-area: 2/1 / 3/3;
    width: 55%;
    place-self: start;
    transform: scale(-1);
  }

  .roadmap-background {
    /* grid-area: 1/1 / 7/2; */
    grid-area: 1/1 / 2/3;
  }

  .roadmap {
    /* grid-area: 2/1 / 5/2; */
    grid-area: 1/1 / 2/3;
    place-content: center;
    place-items: center;
    display: flex;
    width: initial;
    font-size: 1em;
  }
  .roadmap__Link {
    flex-grow: 1;
    flex-shrink: 2;
    text-align: center;
  }
  .logo {
    display: none;
  }
  .footer {
    grid-area: 4/1 / 5/3;
    background-color: #f1a403;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__div {
    display: flex;
    font-size: 2em;
    place-content: space-evenly;
    width: 40%;
    padding: 0;
  }
  .footer__Link,
  .footer__Text {
    padding: 0;
  }
  .skills {
    display: none;
  }
  .mini-Font {
    font-size: .5em;
  }
}
