* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #142142;
    grid-template: 1fr repeat( 3,.25fr) 1fr .15fr / .3fr 1fr 1fr;
    min-height: 100vh;
    font-family: 'Play', sans-serif;
    
}
body > div{
    grid-area: 1/2 / 6/4;
}
   
   

/* H E A D E R - nav and side bar */


nav {
    grid-area: 2/1 / 5/2;

    display: grid;
    grid-template: repeat(3,1fr) / 1fr;
    width: 100%;
    
    font-size: 1.4em;
    font-weight: bolder;

    place-items: end;
    justify-items: center;

    color: #142142;
}
nav > a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: scale .4s, color .4s;
}
nav > a#about:hover{
    color: #99ACC2;
    scale: 1.2;
    background-color: #142142;
    scale: 1.2;
    padding: .2em;
    border-radius: .3em;
}
nav > a#resume:hover{
    color: #782323;
    scale: 1.2;
}
nav > a#portfolio:hover{
    color: #97CC04;
    scale: 1.2;
}


main {}

.footer {
    grid-area: 6/2 / 7/4;
    background-color: #F1A403;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__paragraph,
.footer_mail {
    color: #142142;
    padding: 0 0 0 2em;
}
.footer__paragraph--padding-right {
    padding: 0 2em 0 0;
}
.footer_mail{
    font-weight: bolder;
    text-decoration: none;
}
.footer_mail:hover {
    text-decoration: overline underline;
    color: #F1A403;
}
.fab:hover,
.fas:hover {
    background-color: #142142;
    padding: 0.2em;
    border-radius: 25%;
}







/* U T I L I T I E S */

.grid {
    display: grid;
}
.center {
    place-self: center;
    justify-self: start;
}
.main_Font {
    font-size: 1.563em;
}
.off {
    display: none;
}
.triangle,
.circle,
.square {
    width: 20%;
    place-self: center;
}
.on_Top {
    position: relative;
    z-index: 1;
}


.nav__background {
    grid-area: 1/1 / 7/2;
    background-color: #bac7d6;
}
.logo {
    grid-area: 1/1/2/2;
    position: relative;
    place-self: center;
}
.welcome {
    grid-area: 2/2 / 2/4;
    place-self: center;
    color: #f1a403;
    text-align: center;
}
.welcome__div {
    display: grid;
    grid-template: repeat(5,min-content)/repeat(2,1fr);
}
.welcome__greet.hello {
    grid-area: 1/1 / 3/3;
}
.welcome__greet {
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 4px;
}
.welcome__job {
    font-size: 2em;
    font-style: italic;
    margin: .5em 0 0 0;
    transition: transform 1s .2s;
}

.animate {
    transition: transform 1s .2s, opacity 1s;
}



.welcome__greet--circle--top {
    transform: translateY(-10vh);
}
.welcome__greet--circle--left {
    transform: translate(-8vw);
}
.welcome__greet--circle--right {
    transform: translate(10vw);
}
.welcome__greet--circle--bottom--left {
    transform: translate(-2vw,17vh);
}
.welcome__greet--circle--bottom--right {
    transform: translate(2vw,17vh);
}

.skills {
    grid-area: 5/1/6/2;
    width: 40%;
    place-self: end;
    justify-self: end;
    justify-self: center;
}


.welcome__greet--triangle--left {
    transform: translate(-12vw,13vh);
  }
  
.welcome__greet--triangle--right {
    transform: translate(17vw,5vh);
  } 
.welcome__greet--triangle--visible--none {
    opacity: 0;
  } 
  
.welcome__greet--triangle--bottom {
    transform: translateY(18vh);
  }
  .triangle__img--sharpen {
      image-rendering: -webkit-optimize-contrast;
  }



.welcome__greet--square--top {
    transform: translate(-5vw,-16vh);
}  
.welcome__greet--square--bottom {
    transform:translateY(20vh)
}
.square__img--invert {
    filter: brightness(40%) sepia(100%);
}
